@{
    ViewData["Title"] = "Home Page";
}


<body>
   <div class="text-center">
        <h1 class="display-4">Welcome</h1>
   </div>
    <figure class="text-center">
        <blockquote class="blockquote">
            <p class="mb-0">Una aplicación de gestión de tareas con funciones avanzadas</p>

        </blockquote>
        <figcaption class="blockquote-footer">
            Task Manager<cite title="Source Title">AVC</cite>
        </figcaption>
    </figure>
    <div class="alert alert-dismissible alert-light">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>Heads up!</strong> This <a href="#" class="alert-link">alert needs your attention</a>, remember to do your tasks. <i class="bi bi-emoji-angry"></i>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Crear Nueva Tarea</h4>
            <h6 class="card-subtitle mb-2 text-muted">Detalles de la Tarea</h6>
            <p class="card-text">Ingresa la información necesaria para crear una nueva tarea y organizar tu trabajo de manera eficiente.</p>
            <a href="/Task/List" class="card-link">List link</a>
            <a href="/Task/Index" class="card-link">Create link</a>
        </div>
    </div>
</body>

